{{#each this}}
{{!-- <div class="card-img-div"> --}}
<li class="main-card animate__animated animate__flipInX " id="{{id}}">
    <div class="card-img-div">
    <img class="img-main-cards" src="{{images.url}}" alt="name" id="{{id}}"/>
</div>
    <p class="main-card-info"> {{name}}</p>
    <span class="main-card-description"> {{dates.start.localDate}} </span>
    <span class="main-card-description"> <a href="">
        <a href="https://maps.google.com?daddr={{_embedded.venues.0.location.latitude}},{{_embedded.venues.0.location.longitude}}"
            target="_blank">
            <svg class="place-icon" role="img">
                <use href="./images/sprite.svg#icon-place"></use>
            </svg>
    {{_embedded.venues.0.name}}</a></span>

</li>


    {{!-- {{#each images}}
        {{#if images.ratio = '4_3'}}
        <img class="img-main-cards" src="{{images.url}}" />
        {{/if}}
    {{/each}} --}}

{{/each}}

